html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-x: hidden;
}

.main_wraper {
    min-height: 100vh;
    position: relative;
}

/* ------------- Glavni meni -------------- */
nav {
    display: grid;
    grid-gap: 10px;
    grid-auto-flow: column;
    width: 100%;
    justify-content: end;
    border-bottom: 5px solid #f7a32e;
    z-index: 99;
    background-color: white;
}

nav a {
    color: #f7a32e;
    text-decoration: none;
    padding: 27px 10px;
    text-align: center;
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: auto;
}

.logo img {
    height: 70px;
    width: 70px;
}

nav a:hover {
    background-color: #f8f8f8;
}

nav a.active {
    text-decoration: underline;
}

/* ------------- Glavni meni end -------------- */
#hero_img {
    background: #ffffff url("../img/hero.jpeg") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 40vh;
    display: flex;
}

#offer {
    width: 100%;
}

#offer::before {
    content: '';
    display: block;
    height: 1px;
    margin-top: 0px;
    visibility: hidden;
}

#offer h1 {
    text-align: center;
    color: #f7a32e;
    margin-top: 60px;
    text-transform: uppercase;
}

#offer p {
    text-align: center;
    margin: 0 10px;
}

.offers {
    display: grid;
    grid-column-gap: 80px;
    grid-auto-flow: column;
    width: 100%;
    justify-content: center;
}

.offers_item {
    margin: 20px 0;
    width: 150px;
}

.offers_item img {
    display: block;
    width: 70%;
    margin: 0 auto;
}

.offers_item h3 {
    font-size: 1.2em;
    text-align: center;
}

.offers_item p {
    font-size: 0.8em;
}

.offers_item a {
    font-size: 0.8em;
    color: black;
    font-style: italic;
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin: 20px 0 0 0;
}

#upload_img {
    background: #ffffff url("../img/contest_image.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 40vh;
    position: relative;
    display: flex;
    justify-content: center;
    border-top: 3px solid #f7a32e;
    margin: 50px 0 0 0;
    padding: 30px 0 0 0;
}

#upload_img h3 {
    text-transform: uppercase;
}

.upload_img_text {
    position: absolute;
    width: 220px;
    margin: 0 auto;
}

.upload_img_text button {
    background-color: transparent;
    height: 40px;
    width: 90px;
    margin: 0 auto;
    text-decoration: none;
    text-transform: uppercase;
    font-style: normal;
    cursor: pointer;
    border: 1px solid black;
    transition: 0.3s;
}

.upload_img_text button:hover {
    color: #f7a32e;
    background-color: #000000;
    border: 1px solid #f7a32e;
}

.upload_img_text a {
    color: black;
    text-decoration: none;
    font-style: normal;
}

.upload_img_text button:hover a {
    color: #f7a32e;
    text-decoration: none;
    font-style: normal;
}

#upload_img_gallery {
    background: #ffffff url("../img/contest_image.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 25vh;
    position: relative;
    display: flex;
    justify-content: center;
    border-top: 3px solid #f7a32e;
    padding: 30px 0 0 0;
}

.upload_img_text_gallery {
    position: absolute;
    width: 220px;
    margin: 0 auto;
    color: white;
}

.upload_img_text_gallery h3 {
    color: white;
    text-transform: uppercase;
}

#destinations::before {
    content: '';
    display: block;
    height: 1px;
    margin-top: 0px;
    visibility: hidden;
}

.top_dest {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
}

#destinations h3 {
    text-align: center;
    color: #f7a32e;
    margin-top: 40px;
    text-transform: uppercase;
}

.grid_item_dest1 {
    width: 350px;
    background: #ffffff url("../img/venice.jpg") no-repeat center;
    background-size: cover;
    padding: 10vh 0;
}

.grid_item_dest2 {
    width: 350px;
    background: #ffffff url("../img/paris.jpg") no-repeat center;
    background-size: cover;
    padding: 10vh 0;
}

.grid_item_dest3 {
    width: 350px;
    background: #ffffff url("../img/rome.jpg") no-repeat center;
    background-size: cover;
    padding: 10vh 0;
}

.dest_text {
    padding: 0 10px;
    text-align: center;
    color: white;
    box-sizing: border-box;
}

.dest_text h4 {
    font-size: 1.7em;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.dest_text p {
    padding: 0 20px;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.dest_text button {
    color: white;
    background-color: rgb(247, 163, 46, 0.7);
    height: 40px;
    width: 90px;
    margin: 0 auto;
    text-decoration: none;
    text-transform: uppercase;
    font-style: normal;
    cursor: pointer;
    border: 2px white solid;
    transition: 0.7s;
}

.dest_text button:hover {
    background-color: rgb(247, 163, 46, 1);
}

.dest_text a {
    font-style: normal;
    text-decoration: none;
    color: white;
}

footer {
    margin-top: 50px;
    padding: 20px 0;
    background-color: #f7a32e;
    color: white;
    text-align: center;
}

footer p {
    margin: 0 auto;
}

#gototop {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: url("../img/gototop.png") no-repeat center;
    background-size: cover;
    height: 40px;
    width: 40px;
    z-index: 99999;
}

/* Gallery page */
#gallery {
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
}

.gallery1 {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-gap: 10px;
    align-items: center;
}

.gallery_item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery1 img {
    max-width: 100%;

    height: 200px;
    height: 180px;
}

.gallery__item_1 {
    background: url("../img/gallery/gal (1).jpg") no-repeat center;
    background-size: cover;
    max-width: 100%;
    height: 200px;
}

.gallery__item_2 {
    background: url("../img/gallery/gal (2).jpg") no-repeat center;
    background-size: cover;
    max-width: 100%;
    height: 200px;
}

.gallery__item_3 {
    background: url("../img/gallery/gal (3).jpg") no-repeat center;
    background-size: cover;
    max-width: 100%;
    height: 200px;
}

.gallery__item_4 {
    background: url("../img/gallery/gal (4).jpg") no-repeat center;
    background-size: cover;
    max-width: 100%;
    height: 200px;
}

.gallery__item_5 {
    background: url("../img/gallery/gal (5).jpg") no-repeat center;
    background-size: cover;
    max-width: 100%;
    height: 200px;
}

.gallery__item_6 {
    background: url("../img/gallery/gal (6).jpg") no-repeat center;
    background-size: cover;
    max-width: 100%;
    height: 200px;
}

.gallery__item_7 {
    background: url("../img/gallery/gal (7).jpg") no-repeat center;
    background-size: cover;
    max-width: 100%;
    height: 200px;
}

.gallery__item_8 {
    background: url("../img/gallery/gal (8).jpg") no-repeat center;
    background-size: cover;
    max-width: 100%;
    height: 200px;
}

.gallery__item_9 {
    background: url("../img/gallery/gal (9).jpg") no-repeat center;
    background-size: cover;
    max-width: 100%;
    height: 200px;
}

.gallery__item_10 {
    background: url("../img/gallery/gal (10).jpg") no-repeat center;
    background-size: cover;
    max-width: 100%;
    height: 200px;
}

/* ----------------------------------------------- 

                  RESPONSIVE CSS

-------------------------------------------------- */

@media all and (min-width: 1024px) and (max-width: 1280px) {}

@media all and (min-width: 768px) and (max-width: 1024px) {

    .top_dest {
        display: grid;
        grid-auto-flow: row;
        justify-content: center;
    }

    .grid_item_dest1,
    .grid_item_dest2,
    .grid_item_dest3 {
        width: 80%;
        margin: 0 auto;
        border-top: 10px solid white;
    }

    .gallery1 {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }

    .gallery1 img {
        max-width: 100%;
        width: 100%;
        height: 200px;
    }

}

@media all and (min-width: 480px) and (max-width: 768px) {

    nav a {
        font-size: 0.9em;
        padding: 27px 6px;
    }

    .offers {
        grid-auto-flow: row;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        grid-column-gap: 10px;
    }

    .top_dest {
        display: grid;
        grid-auto-flow: row;
        justify-content: center;
    }

    .grid_item_dest1,
    .grid_item_dest2,
    .grid_item_dest3 {
        width: 90%;
        margin: 0 auto;
        border-top: 10px solid white;
    }

    .gallery1 {
        grid-template-columns: repeat(1, minmax(400px, 1fr));
    }

    .gallery__item_1,
    .gallery__item_2,
    .gallery__item_3,
    .gallery__item_4,
    .gallery__item_5,
    .gallery__item_6,
    .gallery__item_7,
    .gallery__item_8,
    .gallery__item_9,
    .gallery__item_10 {
        height: 350px;
    }

}

@media all and (max-width: 480px) {

    nav {
        grid-auto-flow: row;
        justify-content: start;
        padding: 50px 10px 20px 10px;
        border-bottom: 5px solid #f7a32e;
        position: relative;
        z-index: 99;
        background-color: white;
    }

    nav a {
        text-align: left;
        padding: 10px 10px;
    }

    nav a:hover {
        background: transparent;
    }

    .offers {
        grid-auto-flow: row;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .offers_item {
        padding-bottom: 20px;
        border-bottom: 1px solid #ebebeb;
    }

    .top_dest {
        display: grid;
        grid-auto-flow: row;
        justify-content: center;
    }

    .grid_item_dest1,
    .grid_item_dest2,
    .grid_item_dest3 {
        border-top: 10px solid white;
    }

    .gallery1 {
        grid-template-columns: repeat(1, minmax(200px, 1fr));
    }

    .gallery__item_1,
    .gallery__item_2,
    .gallery__item_3,
    .gallery__item_4,
    .gallery__item_5,
    .gallery__item_6,
    .gallery__item_7,
    .gallery__item_8,
    .gallery__item_9,
    .gallery__item_10 {
        height: 350px;
    }
}